body {
  /* margin: auto; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dropdown-selection {
  display: flex;
  font-weight: 500;
  font-size: 0.9em;
}

.btn {
  background: salmon !important;
  width: 80px;
  min-width: 40px;
  height: 40px;
  color: white !important;
  cursor: pointer;
  border: none !important;
}

form {
  display: flex;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background: rgb(230, 175, 169) !important;
  color: white
}

.input-form:hover {
  background-color: salmon;
  color: white
}

.page {
  height: 100vh;
  width: 100%;
  color: salmon;
  background: #282D35;
  overflow-y: scroll;
}
